
#container
{
  position: relative;
  display: block;
  border-width: 15px;
  border-style: ridge;
  border-radius: 30px;
  margin: 15px;
  padding: 15px;
  width: 520px;
  transition: 2.0s;
}

#text
{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#throw
{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
