
#container
{
  position: fixed;
  display: block;
  border-width: 15px;
  border-style: ridge;
  border-radius: 30px;
  margin: 15px;
  padding: 15px;
  width: 520px;
  top: 0px;
  left: 0px;
  transition: all 2.0s linear 0s;
}

#text, #throw
{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
